* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

body{
	margin: 2px;
}

header{
	width: 100%;
	text-align: center;
	margin: 20px;
	font-size: 1.75rem;
	font-weight: 700;
	color: #28231D;
}

div{
	margin-bottom: 5px;
}

section{
	position: relative;
	background-color: #9370DB;
	width: 90%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	color: white;
	border: 1px solid black;
	overflow: hidden;
}

.title{
	position: absolute;
	width: 130px;
	text-align: center;
	top: -1px;
	right: -1px;
	border: 1px solid black;
}

/*unique title BG colors*/
#title1{
	background-color: #848482;
}

#title2{
	background-color: #9090C0;	
}

#title3{
	background-color: #98AFC7;	
}

.textcontent{
	padding-top: 25px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}

/*Media Queries*/

/*desktop view*/
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
}

/*tablet view*/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		width: 50%;
	}

	.full-row {
		margin-left: auto;
		width: 95%;
	}
}